/* @font-face {
  font-family: "Noto";
  src: url(fonts/NotoSans-Regular.ttf);
} */

.bg {
  /* background: linear-gradient(to bottom, #333333 0%, #000000 100%); */
  background: linear-gradient(to bottom, #202124 0%, #4b4d57 50%, #202124 100%);

}

html {
  max-width: 900px;
  font-family: Verdana;
  font-weight: normal;
  margin: auto;
  /* background-color: black; */
  /* background-color: #f0e130; */

  background: url("media/starbg.gif") ;
}

#pfp {
  border-radius: 10%;
  margin-bottom: 30px;
}

img {
  display: block;
  margin: auto;
}

body {
  background-color: black;
  color: white;
  /* margins for the big box content */
  margin-top: 45px;
  margin-bottom: 25px;
  border-radius: 20px;
  border-color: lightgreen;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 10px lightgreen, 0 0 20px pink;
  animation: glow 2s linear infinite;
}

.header {
  text-align: center;
}

#updates {
  padding-bottom: 30px;
}


#intro {
  padding: 30px 50px 10px 50px;
  /* text-align: center; */
}

a {
  color: peachpuff;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px lightgreen, 0 0 20px pink;
  }
  50% {
    box-shadow: 0 0 20px lightgreen, 0 0 30px pink;
  }
  100% {
    box-shadow: 0 0 10px lightgreen, 0 0 20px pink;
  }
}

